/* Straight CSS. No compilation necessary. */

/*=================================================================
				VARIABLES
===================================================================*/
:root {
  -color-mode: 'bright';

  /* colors */
  --color-primary: #213368;
  --color-bright: #d6df23;
  --color-highlight1: #e2088b;
  --color-highlight2: #00b4ac;
  --color-dark: #0d1c48;
  --color-light: #fffaf0;

  /* color scaffolding */
  --page-background: radial-gradient(
    circle at top right,
    var(--color-bright),
    var(--color-highlight1),
    var(--color-highlight2) 97%
  );
  --content-background: var(--color-light);
  --content-border: var(--color-highlight1);
  --text-color: var(--color-dark);
  --link-background: var(--color-bright);
  --link-background-focus: var(--color-highlight1);
  --color-logo: var(--color-bright);
  --button-background: var(--color-primary);
  --button-color: var(--color-light);
  --border-color: var(--color-dark);
  --button-background-hover: var(--color-dark);
  --button-border-focus: var(--color-bright);

  /* fonts */
  --font-brand: 'Rockwell Std', Rockwell, 'Sanchez', Serifa, 'Serifa Std', Glypha, 'Glypha Std',
    Memphis, 'Memphis Std', serif;
  --font-display: 'Playfair Display', --font-brand;
  --font-body: 'Yantramanav', sans-serif;

  /*animations*/
  --hover-ease: all 1s cubic-bezier(0.21, 0.61, 0.35, 1);

  /*breakpoints
     NOTE: cannot be used in media query declaration , but kept here for reference
    */
  /* --breakpoint-md: 40em;
    --breakpoint-lg: 1200px;
    --breakpoint-giant: 1920px; */
}

/*=================================================================
        VARIABLES: Dark mode 
===================================================================*/
@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --page-background: radial-gradient(
      circle at top right,
      var(--color-highlight2),
      var(--color-primary),
      var(--color-dark),
      var(--color-highlight1)
    );
    --text-color: var(--color-light);
    --content-background: var(--color-primary);
    --button-background: var(--color-light);
    --button-color: var(--color-dark);
    --border-color: var(--color-bright);
    --button-background-hover: var(--color-bright);
    --button-border-focus: var(--color-highlight1);
  }
}

[data-user-color-scheme='dark'] {
  /* repeat everything in :root:not([data-user-color-scheme]). only need to repeat here, hence no need for mixin/compiling */
  --page-background: radial-gradient(
    circle at top right,
    var(--color-highlight2),
    var(--color-primary),
    var(--color-dark),
    var(--color-highlight1)
  );
  --text-color: var(--color-light);
  --content-background: var(--color-primary);
  --button-background: var(--color-light);
  --button-color: var(--color-dark);
  --border-color: var(--color-bright);
  --button-background-hover: var(--color-bright);
  --button-border-focus: var(--color-highlight1);
}

/*=================================================================
				RESETS & UTILITIES
===================================================================*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

/*=================================================================
				TYPOGRAPHY
===================================================================*/
html {
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 300;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: var(--text-color);
  transition: var(--hover-ease);
}

a:hover,
a:focus,
a:active {
  color: var(--color-highlight1);
}

h1 {
  font-family: var(--font-brand);
  font-weight: lighter;
}

h2 {
  font-family: var(--font-brand);
  font-weight: lighter;
  font-style: italic;
  opacity: 0.8;
}

/*=================================================================
                Button 
===================================================================*/
button {
  background: var(--button-background);
  color: var(--button-color);
  border-color: var(--border-color);
  padding: 0.5rem 1rem;
  min-width: 40px;
  transition: var(--hover-ease);
}

@media (hover: hover) {
  button:hover {
    background: var(--button-background-hover);
  }
}

button:focus,
button:active {
  background: var(--button-background-hover);
  border-color: var(--button-border-focus);
}

/*=================================================================
                Fancy Links 
===================================================================*/
.link-item {
  text-decoration: none;
  display: inline-flex;
  position: relative;
  padding: 0.5em 0.5em 1px;
  z-index: 1;
}

.link-item:first-of-type {
  margin-left: -0.5em;
}

.link-item:after {
  content: '';
  background: var(--link-background);
  border: 0 solid transparent;
  opacity: 80%;
  height: 3px;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: var(--hover-ease);
  z-index: -1;
}

.link-item:focus:after {
  background: var(--link-background-focus);
  width: 100%;
}

@media not all and (pointer: coarse) {
  .link-item:hover:after {
    height: 1.3em;
    width: 100%;
  }
}

.link-item:active:after {
  background: var(--color-highlight1);
  width: 100%;
  height: 3px;
}

/*=================================================================
                LOGO
                .logo is inline svg
                .logo is hidden from aria
===================================================================*/
.logo,
.logo-j,
.logo-q,
.logo-dot {
  transition: var(--hover-ease);
}

.logo:hover .logo-dot,
.logo:focus .logo-dot,
.logo:active .logo-dot {
  fill: var(--color-highlight1);
}

/*=================================================================
                PAGE STYLES 
                layout & backgrounds
===================================================================*/
body {
  min-height: 100vh;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}
.background-decor {
  background: var(--color-primary);
  background: var(--page-background);
}
.main-content-container {
  /* for better visual vertical centering */
  margin-bottom: 8vh;
  background: var(--content-background);
  padding: 4vw;
  border: 4px solid var(--content-border);
}

@media screen and (min-width: 40em) {
  .main-content-container {
    display: grid;
    gap: 0 1rem;
    justify-items: start;
    align-items: start;
    justify-content: center;
    align-content: center;
    grid-template-areas:
      ' logo  .  '
      '  .  name  '
      '  .  focus  '
      '  .  links ';
  }
}

.logo {
  /* wacky margins for some off-kilter flair */
  margin: 6vh 12vw 6vh 2vw;
  width: 50%;
  max-width: 120px;
}
@media screen and (min-width: 40em) {
  .logo {
    grid-area: logo;
    margin: 6vh 4vw 3vh 3vw;
  }
}
@media screen and (min-width: 1920px) {
  .logo {
    max-width: 10vw;
  }
}

.name {
  grid-area: name;
}

.focus {
  grid-area: focus;
}

.link-container {
  grid-area: links;
}
