/* Straight CSS. No compilation necessary. */

/*=================================================================
				VARIABLES
===================================================================*/
:root {
    /* colors */
    --color-primary: #213368;
    --color-bright: #d6df23;
    --color-highlight1: #e2088b;
    --color-highlight2: #00b4ac;
    --color-dark: #0d1c48;
    --color-light: #fffafa;

    /* fonts */
    --font-brand: 'Rockwell Std', Rockwell, 'Sanchez', Serifa, 'Serifa Std',
        Glypha, 'Glypha Std', Memphis, 'Memphis Std', serif;
    --font-display: 'Playfair Display', --font-brand;
    --font-body: 'Yantramanav', sans-serif;

    /*animations*/
    --hover-ease: all 1s cubic-bezier(0.21, 0.61, 0.35, 1);

    /*breakpoints*/
    --breakpoint-md: 40em;
    --breakpoint-lg: 1200px;
    --breakpoint-giant: 1920px;
}

/*=================================================================
				RESETS
===================================================================*/

*,
*:before,
*:after {
    box-sizing: inherit;
}
html,
body {
    box-sizing: border-box;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/*=================================================================
				TYPOGRAPHY
===================================================================*/
body {
    color: var(--color-primary);
    font-family: var(--font-body);
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 300;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0 auto;
}

a {
    color: var(--color-dark);
    text-decoration-skip-ink: auto;
    display: inline-block;
    min-width: 40px;
    padding: 0.5em;
    transition: var(--hover-ease);
}

a:hover,
a:focus,
a:active {
    color: var(--color-highlight1);
}

h1 {
    font-family: var(--font-brand);
    font-weight: normal;
}

h2 {
    /* color: var(--color-bright); */
    /* font-family: var(--font-display); */
    font-family: var(--font-brand);
    font-weight: normal;
    font-style: italic;
    opacity: 0.8;
}

/*=================================================================
                LOGO
                .logo is inline svg
                .logo is hidden from aria
===================================================================*/

.logo,
.logo-j,
.logo-q,
.logo-dot {
    transition: var(--hover-ease);
    /* fill: var(--color-hb); */
}

.logo {
    /* min-width: 50vw; */
    /* max-width: 50vw; */
    /* width: 25%;
    margin: 0; */
    /* margin-top: 2.25rem; */
    padding: 0.25rem 0.25em;
    /* width: 25%;*/
    /* transform: translate(99%, -75%); */
    /* z-index: -1;
    position: absolute; */
    /* right: 0; */
    /* top: -50%;  */
}

.logo:hover .logo-dot,
.logo:focus .logo-dot,
.logo:active .logo-dot {
    fill: var(--color-highlight1);
}

/*=================================================================
                PAGE STYLES 
                layout & backgrounds
===================================================================*/
body {
    background: var(--color-light);
    border: 2rem solid var(--color-highlight1);
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.main-content-container {
    /* for better visual vertical centering */
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    grid-template-areas:
        /* ' . .... .... logo logo ' */
        ' . name name name . '
        ' . focus focus focus . '
        ' . links links links . ';
}

.logo {
    width: 33vw;
    position: absolute;
    top: 20vh;
    right: 10vw;
}

.name {
    grid-area: name;
    align-self: end;
}
.focus {
    grid-area: focus;
}
.link-container {
    grid-area: links;
}
