/* Straight CSS. No compilation necessary. */

/*=================================================================
				VARIABLES
===================================================================*/
:root {
  /* colors */
  --color-primary: #213368;
  --color-bright: #d6df23;
  --color-highlight1: #e2088b;
  --color-highlight2: #00b4ac;
  --color-dark: #0d1c48;
  --color-light: #fffaf0;

  --color-logo: var(--color-bright);

  /* fonts */
  --font-brand: "Rockwell Std", Rockwell, "Sanchez", Serifa, "Serifa Std",
    Glypha, "Glypha Std", Memphis, "Memphis Std", serif;
  --font-display: "Playfair Display", --font-brand;
  --font-body: "Yantramanav", sans-serif;

  /*animations*/
  --hover-ease: all 1s cubic-bezier(0.21, 0.61, 0.35, 1);

  /*breakpoints
     NOTE: cannot be used in media query declaration, but kept here for reference
    */
  /* --breakpoint-md: 40em;
    --breakpoint-lg: 1200px;
    --breakpoint-giant: 1920px; */
}

/*=================================================================
				RESETS
===================================================================*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/*=================================================================
				TYPOGRAPHY
===================================================================*/
html {
  color: var(--color-primary);
  font-family: var(--font-body);
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 300;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  color: var(--color-dark);
  transition: var(--hover-ease);
}

a:hover,
a:focus,
a:active {
  color: var(--color-highlight1);
}

h1 {
  font-family: var(--font-brand);
  font-weight: lighter;
}

h2 {
  font-family: var(--font-brand);
  font-weight: lighter;
  font-style: italic;
  opacity: 0.8;
}

/*=================================================================
                Fancy Links 
===================================================================*/

.link-item {
  text-decoration: none;
  display: inline-flex;
  position: relative;
  padding: 0.5em 0.5em 1px;
}

.link-item:first-of-type {
  margin-left: -0.5em;
}

.link-item:after {
  content: "";
  background: var(--color-bright);
  border: 0 solid transparent;
  opacity: 80%;
  height: 3px;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: var(--hover-ease);
  mix-blend-mode: multiply;
}

.link-item:focus {
  color: var(--color-dark);
}
.link-item:focus:after {
  background: var(--color-light);
  border: 2px solid var(--color-highlight1);
  height: 70%;
  width: 100%;
}

@media not all and (pointer: coarse) {
  .link-item:hover {
    /* color: var(--color-dark); */
  }
  .link-item:hover:after {
    height: 70%;
    width: 100%;
  }
}

.link-item:active {
  /* color: var(--color-primary); */
}
.link-item:active:after {
  background: var(--color-highlight1);
  width: 100%;
  height: 3px;
}

/*=================================================================
                LOGO
                .logo is inline svg
                .logo is hidden from aria
===================================================================*/

.logo,
.logo-j,
.logo-q,
.logo-dot {
  transition: var(--hover-ease);
}

.logo:hover .logo-dot,
.logo:focus .logo-dot,
.logo:active .logo-dot {
  fill: var(--color-highlight1);
}

/*=================================================================
                PAGE STYLES 
                layout & backgrounds
===================================================================*/
body {
  min-height: 100vh;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}
.background-decor {
  background: var(--color-primary);
  /* background: conic-gradient(from 0deg at 0% 0%, blue, green, yellow 180deg); */
  background: radial-gradient(
    circle at top right,
    var(--color-bright),
    var(--color-highlight1),
    var(--color-highlight2) 97%
  );
}
.main-content-container {
  /* for better visual vertical centering */
  margin-bottom: 8vh;
  background: var(--color-light);
  padding: 4vw;
  border: 4px solid var(--color-highlight1);
}

@media screen and (min-width: 40em) {
  .main-content-container {
    display: grid;
    /* grid-template-columns: 1fr auto; */
    gap: 0 1rem;
    justify-items: start;
    align-items: start;
    justify-content: center;
    align-content: center;
    grid-template-areas:
      " logo  .  "
      "  .  name  "
      "  .  focus  "
      "  .  links ";
  }
}

.logo {
  /* wacky margins for some off-kilter flair */
  margin: 6vh 12vw 6vh 2vw;
  width: 50%;
  max-width: 120px;
}
@media screen and (min-width: 40em) {
  .logo {
    grid-area: logo;
    margin: 6vh 4vw 3vh 3vw;
  }
}
@media screen and (min-width: 1920px) {
  .logo {
    max-width: 10vw;
  }
}

.name {
  grid-area: name;
}

.focus {
  grid-area: focus;
}

.link-container {
  grid-area: links;
}
